.container {
  padding-top: 30vh;
}

.cardTitle {
  font-family: "Brygada", serif;
  font-style: italic;
  color: var(--clr-primary);
  font-weight: 600;
  font-size: 1.8em;
}

.programCard h5 {
  color: var(--clr-white);
  background: linear-gradient(45deg, #006ba0, #0082a0);
  background: #006ba0;
  padding: 0.8rem 0.5rem !important;
  margin-bottom: 2.5rem;
}

.programGroupItem {
  cursor: pointer;
  opacity: 1;
  transition: all ease 0.3s;
  position: relative;
  border-color: #e4e4e4;
  padding: 2.5rem 1rem;
  text-align: left;
  transition: all ease 0.3s;
  clip-path: polygon(0% 0%, calc(100% - 35px) 0, 100% 35px, 100% 100%, 0% 100%);
}
.programGroupItem:hover {
  border-color: #006ba0;
  transform: rotate(-1deg) scale(1.05);
  clip-path: polygon(0% 0%, 100% 0, 100% 0, 100% 100%, 0% 100%);
}
.programGroupItem::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 35px;
  height: 35px;
  background-color: #006ca0;
  transition: all ease 0.3s;
}
.programGroupItem:hover::after {
  width: 0;
  height: 0;
}
.hidden {
  opacity: 0.35;
}
.programGroupItem:not(:hover) .programDetail {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
